<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>

  <link rel="stylesheet" href="style.css">

</head>

<body>
  <div class="topPage">
    <div class="titleContainer">
      <h1 class="pageTitle">Star wars</h1>
    </div>

    <p class="titleSubtext">A long time ago in a Galaxy far far away</p>
    <div id="movieContainer">

    </div>
  </div>

  
  <div id="ScrawlerContainer">
   
    
  </div>

  <script src="main.js"></script>
</body>

</html>